html(lang="en")
	head
		//- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="style.css")
		script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")
		script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript",src="//use.fontawesome.com/567b6b8249.js")
		script(type="text/javascript",src="HTMLcarousel-min.js")
			

	body

		#slideshow

		#triggers
			i#mode0.btn.fa.fa-barcode(aria-hidden="true")
			i#mode1.btn.fa.fa-arrows-h(aria-hidden="true")
			i#mode2.btn.fa.fa-toggle-on(aria-hidden="true")
			i#mode3.btn.fa.fa-clone(aria-hidden="true")

		script(type="text/javascript",src="main.js")
