@import reset.sass
@import global.sass

html,
body
	font-family: sans-serif

#slideshow
	// position: relative
	width: 900px
	height: 480px
	background-color: #000
	margin: 20px auto
	z-index: 1
	border: 1px solid #666